@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}

img {
  display: block;
}

body {
  background-color: hsl(185, 75%, 39%);
  background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
  background-position: right 38vw bottom 20vh, left 40vw top 41vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#container {
  max-width: 375px;
  width: 90%;
  margin: 0 auto; 
  background: #fff;
  border-radius: 10px;
}

#background {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.content {
  position: relative;
  margin-top: -50px;
}

#avatar {
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 100px;
  border: 4px solid white;
}

#info {
  margin: 1.3rem auto 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}

#age {
  margin-left: .5rem;
}

.stats-block {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid hsl(0, 0%, 59%);
  padding: 1.5rem;
  flex-wrap: wrap;
}


h1, .stats p:nth-of-type(1){
  font-size: 18px;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

.stats p {
  text-align: center;
}

.stats p:nth-of-type(2) {
  letter-spacing: .1rem;
  font-size: .7rem;
  margin-top: .3rem;
}

#city {
  text-align: center;
  width: 100%;
  margin-top: .5rem;
}

.attribution {
  color: #fff;
  margin-top: 1rem;
}

@media only screen and (min-width: 600px) {
  body {
    background-position: right 52vw bottom 38vh, left 50vw top 50vh;
  }
}